<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Cafe Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- GSAP and ScrollTrigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <link rel="icon" type="images/png" href="/images/favecone.png">

</head>
<body>
    <header class="restaurant-navbar">
        <a href="/"><img src="/images/logo.png" alt="ServeHarmony Logo" class="logo"></a>
        <a href="/"><h1>ServeHarmony - Cafes List</h1></a>
        <div class="search-container">
            <form action="/cafePage" method="GET">
                <input type="text" placeholder="Search by restaurant name..." name="search" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </header>

    <main class="grid">
        <% if(cafes && cafes.length > 0){ %>
            <% cafes.forEach(cafe => { %>
                <div class="cardd">
                    <a href="/cafe/menu/<%= cafe._id %>"><img src="/images/<%= cafe.image %>" alt="<%= cafe.name %>"></a>
                    <h2><%= cafe.name %></h2>
                    <p><strong>Open Hours: </strong><%= cafe.openHours %></p>
                    <p><strong>Location:</strong><%= cafe.address %></p>
                    <button><a href="/TableReservation/<%= cafe._id %>">Dine in</a></button>
                    <button><a href="/restaurant/menu/<%= cafe._id %>">Take Away</a></button>
                </div>
            <% }) %>
        <% } else { %>
            <p>No Cafes found.</p>
        <% } %>
    </main>
    <!-- <script src="/js/search.js"></script    -->
</body>
</html>
