<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Cafe Page</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the style.css file -->
</head>
<body class="grid">
    <% if(cafes && cafes.length > 0){ %> 
        <% cafes.forEach(cafe => { %>
         <div class="card">
            <a href=""><img src="<%= cafe.img %>" alt="<%= cafe.alt %>" id="Image"></a>
            <h2><%= cafe.name %></h2>
            <p><%= cafe.open %></p>
            <p><%= cafe.Location %></p>
            <button><a href="/restaurant/menu">Dine in</a></button>
            <button>Take Away</button>
         </div>
        <% }) %>
   <% } %>
</body>
</html>
