<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cart</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>CART Page</h1>
  <main>
      <div>
        <% if (cart && cart.length > 0){ %>
          <ul>
            <% cart.forEach(item => { %>
            <li class="card">
              <img src="/images/<%= item.itemImg %>" id="Image">
              <h3><%= item.itemName %></h3>
              <p>Price: <%= item.itemPrice * item.quantity %> SAR</p>
              <p>quantity: <%= item.quantity %></p>
              <button onclick="removeFromCart('<%= item.menuItemId %>')">Remove</button>
            </li>
          <% }); %>
        </ul>
        <% } %>
        <button onclick="confirmOrder(this)">Confirm Order</button>
      </div>
    </section>
  </main>
  <script src="/js/cart.js"></script>
</body>
</html>
      <!-- <div class="cart">
        <i class="bi bi-cart2"></i>
        <div id="cartAmount" class="cartAmount">0</div>
      </div> -->