<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cart</title>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- GSAP and ScrollTrigger -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
  <link rel="icon" type="images/png" href="/images/favecone.png">

</head>
<body>

  <header class="cart-page-header">
    <a href="/"><img src="/images/logo.png" alt="ServeHarmony Logo" class="logo"></a>
      <a href="/"><h1>ServeHarmony Cart</h1></a>
  </header>
  
  <div class="menu-cart-button">
    <button onclick="confirmOrder(this)" class="">Confirm Order</button>
  </div>


  <main>
    <div>
      <% if (cart && cart.length > 0){ %>
        <ul class="cart-grid">
          <% cart.forEach(item => { %>
          <li class="cart-cardd" id="cart-card">
            <img src="/images/<%= item.itemImg %>" alt="<%= item.itemName %>" id="cart-Image">
            <h3><%= item.itemName %></h3>
            <p>Price: <%= item.itemPrice * item.quantity %> SAR</p>
            <p>Quantity: <%= item.quantity %></p>
            <button onclick="removeFromCart('<%= item.menuItemId %>')">Remove</button>
          </li>
          <% }); %>
        </ul>
      <% } %>
      
    </div>
  </main>
  <script>
    // Animation script
    document.addEventListener('DOMContentLoaded', function () {
        gsap.registerPlugin(ScrollTrigger);
        const cards = gsap.utils.toArray(".card");
        cards.forEach(card => {
            const anim = gsap.fromTo(card, 
                { autoAlpha: 0, y: 100, x: -100, rotate: -10 },
                { duration: 0.6, autoAlpha: 1, y: 0, x: 0, rotate: 0 }
            );
            ScrollTrigger.create({
                trigger: card,
                animation: anim,
            });
        });
    });
  </script>
  <script src="/js/cart.js"></script>
</body>
</html>