<!DOCTYPE html>
<html lang="en">
<head>
    <!-- general meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- style sheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- GSAP and ScrollTrigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
</head>
<body>
    <main class="grid">
        <% if(restaurants && restaurants.length> 0){ %>
            <% restaurants.forEach(restaurant=> { %>
                <div class="card">
                    <a href="/restaurant/menu/<%= restaurant.id %>"><img src="/images/<%= restaurant.image %>" id="Image"></a>
                    <h2><%= restaurant.name %></h2>
                    <p><strong>Open Hours: </strong><%= restaurant.openHours %></p>
                    <p><strong>Location:</strong><%= restaurant.address %></p>
                    <button><a href="/restaurant/menu/<%= restaurant.id %>">Dine in</a></button>
                    <button><a href="/restaurant/menu/<%= restaurant.id %>">Take Away</a></button>
                </div>
            <% }) %>
        <% } %>
    </main>
    <script>
        // Animation script
        document.addEventListener('DOMContentLoaded', function () {
            gsap.registerPlugin(ScrollTrigger);
            const cards = gsap.utils.toArray(".card");
            cards.forEach(card => {
                const anim = gsap.fromTo(card, 
                    { autoAlpha: 0, y: 100, x: -100, rotate: -10 },
                    { duration: 0.6, autoAlpha: 1, y: 0, x: 0, rotate: 0 }
                );
                ScrollTrigger.create({
                    trigger: card,
                    animation: anim,
                });
            });
        });
    </script>
</body>
</html>
