<!DOCTYPE html>
<html lang="en">
<head>
    <!-- general meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- style sheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Restaurants</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <link rel="icon" type="images/png" href="/images/favecone.png">
</head>
<body>
    <header class="restaurant-navbar">
        <a href="/ChoicePage"><img src="/images/logo.png" alt="ServeHarmony Logo" class="logo"></a>
        <a href="/ChoicePage"><h1>ServeHarmony - Restaurants List</h1></a>
        <div class="search-container">
            <form action="/restaurantPage" method="GET">
                <input type="text" placeholder="Search by restaurant name..." name="search" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
    
    <main class="grid">
        <% if(restaurants && restaurants.length > 0){ %>
            <% restaurants.forEach(restaurant => { %>
                <div class="cardd">
                    <a href="/restaurant/menu/<%= restaurant._id %>"><img src="/images/<%= restaurant.image %>" alt="<%= restaurant.name %>"></a>
                    <h2><%= restaurant.name %></h2>
                    <p><strong>Open Hours: </strong><%= restaurant.openHours %></p>
                    <p><strong>Location:</strong><%= restaurant.address %></p>
                    <button><a href="/TableReservation/<%= restaurant._id %>?type=restaurant">Dine in</a></button>
                    <button><a href="/restaurant/menu/<%= restaurant._id %>">Take Away</a></button>
                </div>
            <% }) %>
        <% } else { %>
            <p>No restaurants found.</p>
        <% } %>
    </main>
    <script src="/js/search.js"></script>
</body>
</html>
