<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Page</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the style.css file -->

</head>
<body class="grid">
    <% if(restaurants && restaurants.length > 0){ %> 
        <% restaurants.forEach(restaurant => { %>
         <div class="card">
            <img src="<%= restaurant.img %>" alt="<%= restaurant.alt %>">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.open %></p>
            <p><%= restaurant.Location %></p>
         </div>
             <% }) %>
           <% } %>
</body>
</html>
